#create-asset {
    display: flex;
    margin: 0 auto;
    // align-items: center;
    // justify-content: center;
    flex-direction: column;
    width: 90%;
    margin-bottom: 50px;
}

#create-asset input,
#create-asset textarea,
#create-asset select {
    padding: 12px 20px;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    align-self: center;
    border: 1px solid #a7a7a7;
    // background-color: #b3b3b3;
    border-radius: 10px;
}

#create-asset input[type=submit] {
    padding: 12px 20px;
    border: none;
    background-color: #2ecc71;
    color: white;
}

#create-asset input[type=text]::placeholder {
    color: white;
}