#asset-form {
    display: flex;
    margin: 0 auto;
    // align-items: center;
    // justify-content: center;
    flex-direction: column;
    width: 90%;
    margin-bottom: 50px;
}

#asset-form input,
#asset-form textarea,
#asset-form select {
    padding: 12px 20px;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    align-self: center;
    border: 1px solid #a7a7a7;
    // background-color: #b3b3b3;
    border-radius: 10px;
}

#asset-form button {
    padding: 12px 20px;
    border: none;
    background-color: #e74c3c;
    color: white;
    border-radius: 10px;
}

#asset-form input[type=submit] {
    padding: 12px 20px;
    border: none;
    background-color: #2ecc71;
    color: white;
}

#asset-form input[type=text]::placeholder {
    color: white;
}