.footer {
    position: fixed;
    bottom: 25px;
    left: 25%;

    .footer-child {
        border: 1px solid #3498db;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;    
        gap: 30px;
        padding: 10px;

        p {
            font-size: xx-large;
        }
    }
}