@import "~bootstrap/scss/bootstrap";

* {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-centre {
    text-align: center;
}

.btn-danger {
    background-color: #e74c3c;
}

.button-list-container {
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-list-child {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#info-parent {
    display: flex;
    justify-content: center;
}

#info-child {
    width: 40%;
}

.software {
    p img {
        height: 25px;
        padding-right: 5px;
    }
}

.red-star {
    color: #e74c3c !important;
}

.hero {
    background-color: #3498db;
    color: white;
    margin: 0;
    padding: 0;

    hr {
        border: 0;
        border-top: 1px solid #2980b9;
        /* Create a border on top with the same color as the background */
    }

    #spacer {
        padding-top: 10px;
    }
}