@import "~bootstrap/scss/bootstrap";

* {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.text-centre {
    text-align: center;
}

.btn-danger {
    background-color: #e74c3c;
}

.button-list-container {
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-list-child {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#info-parent {
    display: flex;
    justify-content: center;
}

#info-child {
    width: 40%;
    text-align: center;

    a {
        text-decoration: none;
        background-color: #30336b;
        color: white;
        padding: 2px 15px;
        border-radius: 10px;
        transition: background-color 0.3s ease-in-out;
    }

    a:hover {
        background-color: #3498db;
    }
}

.software {
    p img {
        height: 25px;
        padding-right: 5px;
    }
}

.red-star {
    color: #e74c3c !important;
}

.hero-index {
    background-color: #30336b !important;
}

.hero {

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        margin: 8px 0px;

        i {
            padding-right: 10px;
        }
    }

    user-select: none;
    background-color: #30336b;
    color: white;
    margin: 0;
    padding: 0;

    hr {
        border: 0;
        border-top: 1px solid #2980b9;
        /* Create a border on top with the same color as the background */
    }

    #spacer {
        padding-top: 10px;
    }
}

#single-asset-table {
    a {
        i {
            padding-right: 5px;
        }

        // text-decoration: none;
    }
}

tr th {
    user-select: none;
}

tr#warning,
tr#warning i {
    background-color: #f8d7da;
}

tr#warning {
    border: 3px solid #f5c2c7;
}

#clippy-alert {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
        height: 200px;
    }
}

button#cancel {
    padding: 12px 20px;
    border: none;
    background-color: #e74c3c;
    color: white;
    border-radius: 10px;
}

.red-text {
    color: #e74c3c;
    font-weight: bold;
}

tbody tr {
    vertical-align: middle;

    td {
        vertical-align: middle;
    }

    p,
    p i {
        vertical-align: middle;
    }
}

#references,
#weaknesses {
    P {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    a {
        // background-color: #f1f2f3;
        // border-radius: 10px;
        color: black;
        // padding: 5px 10px;
        // margin: 0px 5px;
        // margin-bottom: 10px;

        i {
            padding-right: 5px;
        }
    }
}

#weaknesses {
    margin-bottom: 20px;
}

.vuln-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 50%;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p {
        margin-bottom: 0px;
    }
}

.card-body {
    display: flex;
    flex-direction: row;

    #description {
        width: 100%;
        padding-right: 20px;
        max-width: 75%;
    }
}

.card-footer {
    background-color: #f1f2f3;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#scores {
    p {
        margin: 0px;
    }
    margin-bottom: 10px;
}